<!DOCTYPE html>
<html>
  <head>
    <title>Coinface</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <meta name="viewport" content="width=device-width,height=device-height initial-scale=1">
    <script type="text/javascript">
      window.btc = "<%= image_url('btc.png') %>"
      window.bch = "<%= image_url('bch.png') %>"
      window.etc = "<%= image_url('etc.png') %>"
      window.eth = "<%= image_url('eth.png') %>"
      window.ltc = "<%= image_url('ltc.png') %>"
      window.astronaut = "<%= image_url('astronaut.png') %>"
      window.address = "<%= image_url('address.png') %>"
      window.icon_handout = "<%= image_url('icon-handout.png') %>"
      window.icon_bank = "<%= image_url('icon-bank.png') %>"
      window.icon_add = "<%= image_url('icon-add.png') %>"
    </script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
